<tr>
	<% reviewer = User.find(review.user_id) %>
	<td class="td-username flex">
		<%= link_to admins_user_path(reviewer.id) do %>
			<%= reviewer.family_name %><span class="space-between-name"></span><%= reviewer.first_name %>
		<% end %>
	</td>
	<td class="td-review"><%= review.body %></td>
	<td><%= link_to "編集する", edit_admins_album_review_path(album_id: review.album_id, id: review.id), class: "btn btn-primary" %></td>
	<td><%= link_to "削除する", admins_album_review_path(album_id: review.album_id, id: review.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %></td>
</tr>
