<header class="header vertical-center flex is-between">
  <div class="header-logo">
    <%= link_to "VISSEL", root_path %>
  </div>
  <div class="header-right">
    <nav class="header-nav text-center">
      <ul class="flex is-between">
        <% if user_signed_in? %>

        <div class="">
          <li><%= link_to "商品一覧", albums_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to current_user.first_name, user_path(current_user.id) , class: "btn header-nav-btn"%></li>
        </div>
        <div class="">
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn header-nav-btn" %></li>
        </div>

        <% elsif admin_signed_in? %>

        <div class="">
          <li><%= link_to "AAA", admin_path(current_admin), class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "商品一覧", albums_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "商品追加", new_album_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "会員一覧", users_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "販売履歴一覧", users_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn header-nav-btn" %></li>
        </div>

        <% else %>

        <div class="">
          <li><%= link_to "商品一覧", albums_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "新規登録", new_user_registration_path, class: "btn header-nav-btn" %></li>
        </div>
        <div class="">
          <li><%= link_to "ログイン", new_user_session_path, class: "btn header-nav-btn" %></li>
        </div>

        <% end %>
      </ul>
    </nav>
  </div>
</header>