<header class="header">
  <div class="flex is-between vertical-center">
    <div class="header-logo">
      <%= link_to "VISSEL", root_path %>
    </div>
    <div class="header-right">
      <nav class="header-nav text-center">
        <ul class="flex">

          <% if admin_signed_in? %>

            <li class="main-nav-btn has-hidden-nav">
              <%= link_to "商品一覧", admins_albums_path, class: "btn header-nav-btn" %>
              <ul class="header-hidden-nav text-center flex column">
                <li><%= link_to "アーティスト一覧", admins_artists_path, class: "btn header-hidden-nav-btn" %></li>
                <li><%= link_to "ジャンル一覧", admins_genres_path, class: "btn header-hidden-nav-btn" %></li>
                <li><%= link_to "レーベル一覧", admins_labels_path, class: "btn header-hidden-nav-btn" %></li>
              </ul>
            </li>
            <li class="main-nav-btn has-hidden-nav">
              <%= link_to "商品追加", new_admins_album_path, class: "btn header-nav-btn" %>
              <ul class="header-hidden-nav text-center flex column">
                <li><%= link_to "アーティスト追加", new_admins_artist_path, class: "btn header-hidden-nav-btn" %></li>
                <li><%= link_to "ジャンル追加", new_admins_genre_path, class: "btn header-hidden-nav-btn" %></li>
                <li><%= link_to "レーベル追加", new_admins_label_path, class: "btn header-hidden-nav-btn" %></li>
              </ul>
            </li>
            <li class="main-nav-btn"><%= link_to "会員一覧", admins_users_path, class: "btn header-nav-btn" %></li>
            <li class="main-nav-btn"><%= link_to "販売履歴", admins_sales_histories_path, class: "btn header-nav-btn" %></li>
            <li class="main-nav-btn"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn header-nav-btn" %></li>

          <% else %>

            <li class="main-nav-btn has-hidden-nav">
              <%= link_to "商品一覧", albums_path, class: "btn header-nav-btn" %>
              <ul class="header-hidden-nav text-center flex column">
                <li><%= link_to "アーティスト一覧", artists_path, class: "btn header-hidden-nav-btn" %></li>
                <li><%= link_to "ジャンル一覧", genres_path, class: "btn header-hidden-nav-btn" %></li>
                <li><%= link_to "レーベル一覧", labels_path, class: "btn header-hidden-nav-btn" %></li>
              </ul>
            </li>

            <% if user_signed_in? %>

              <li class="main-nav-btn has-hidden-nav">
                <%= link_to current_user.first_name, user_path(current_user.id), class: "btn header-nav-btn" %>
                <ul class="header-hidden-nav text-center flex column">
                  <li><%= link_to "購入履歴", user_sales_histories_path(current_user.id), class: "btn header-hidden-nav-btn" %></li>
                  <li><%= link_to "いいねした商品", users_favorites_path(current_user.id), class: "btn header-hidden-nav-btn" %></li>
                  <li><%= link_to "会員情報編集", edit_user_path(current_user.id), class: "btn header-hidden-nav-btn" %></li>
                </ul>
              </li>
              <li class="main-nav-btn"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn header-nav-btn" %></li>

            <% else %>

              <li class="main-nav-btn"><%= link_to "新規会員登録", new_user_registration_path, class: "btn header-nav-btn" %></li>
              <li class="main-nav-btn"><%= link_to "ログイン", new_user_session_path, class: "btn header-nav-btn" %></li>

            <% end %>

          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>