<div class="users-sessions-new flex">
  <div class="leftside"></div>
  <main class="main">
    <h2 class="page-title">ログイン</h2>

    <div class="users-login-form clearfix">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <span class="label">メールアドレス</span>
          <div class="field-textbox">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"email-box" %>
          </div>
        </div>

        <div class="field">
          <span class="label">パスワード</span>
          <div class="field-textbox">
            <%= f.password_field :password, autocomplete: "off", class:"password-box" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me, class: "remember_me-checkbox" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit "ログイン", class: "actions btn btn-primary" %>
      <% end %>

      <%= link_to "新規登録はこちら→", new_user_registration_path, class: "link_to-signup-btn" %>
    </div>
  </main>
  <div class="leftside"></div>
</div>
