<div class="users-carts flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">カート</h2>
		<% if @error_albums %>
			<div class="notice-failed">
				<p>在庫数を超える購入はできません。<br>申し訳ございませんが、以下の商品について変更をお願いします。</p>
				<ul>
					<% @error_albums.each do |ea| %>
						<li>・<%= ea.title %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<% if flash[:danger] %>
			<div id="error_explanation">
				<p><%= flash[:danger] %></p>
			</div>
		<% end %>
		<table class="cart_items-table inner">
			<thead>
				<tr>
					<th>商品情報</th>
					<th>単価</th>
					<th>在庫数</th>
					<th>購入数</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% total = 500 %>
				<% @cart_items.each do |cart_item| %>
					<% cart_album = Album.find(cart_item.album_id) %>
					<tr class="cart_item-section">
						<td>
							<%= link_to album_path(cart_album.id), class: "cart_album-img-haslink flex" do %>
								<%= attachment_image_tag cart_album, :album_image, format:"jpeg", class: "album-small-img", fallback: "no-image.jpg" %>
								<p class="cart_album-title"><%= cart_album.title %></p>
							<% end %>
						</td>
						<td class="text-center"><%= cart_album.price %>円</td>
						<td class="text-center"><%= cart_album.stock %>個</td>
						<td>
							<%= form_for cart_item, url: album_order_path(album_id: cart_album.id, id: cart_item.id), method: :patch do |f| %>
								<%= f.number_field :number, class: "number-field", id: "number" %>
							<% end %>
						</td>
						<td>
							<p class="subtotal"><%= cart_item.subtotal %>円</p>
							<% total += cart_item.subtotal %>
						</td>
						<td><%= link_to "カートから削除する", album_orders_path(album_id: cart_album.id), class: "btn btn-danger", method: :delete, "data-confirm" => "カートから削除します。よろしいですか？" %>
						</td>
					</tr>
				<% end %>
		</table>
		<table class="prices-table text-right">
			<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr class="total">
					<td>合計:</td>
					<td><%= total - 500 %>円(税込)</td>
				</tr>
				<tr class="shipping-tax">
					<td>配送料:</td>
					<td>500円(一律)</td>
				</tr>
				<tr class="finally">
					<td>総計:</td>
					<td><%= total %>円(税込)</td>
				</tr>
			<tbody>
		</table>

		<div class="submit">
			<%= link_to "購入確認へ進む", new_user_sales_history_path(user_id: @user.id), class: "actions btn btn-success" %>
		</div>

	</main>
	<div class="rightside"></div>
</div>
