<div class="users-show flex">
  <div class="leftside"></div>
  <main class="main clearfix">
    <div class="flex">
      <div class="users-show-left">
        <h2 class="page-title"><%= @user.family_name %> <%= @user.first_name %>さんの会員情報</h2>
        <div class="field">
          <span class="label">氏名</span>
          <label>（姓）</label>
          <%= @user.family_name %>
          <label>（名）</label>
          <%= @user.first_name %>
        </div>
        <div class="field">
          <span class="label">氏名（フリガナ）</span>
          <label>（姓）</label>
          <%= @user.kana_family_name %>
          <label>（名）</label>
          <%= @user.kana_first_name %>
        </div>
        <div class="field">
          <span class="label">郵便番号</span>
          <%= @user.postcode %>
        </div>
        <div class="field">
          <span class="label">電話番号</span>
          <%= @user.telephone %>
        </div>
        <div class="field">
          <span  class="label">メールアドレス</span>
          <%= @user.email %>
        </div>
        <div class="submit">
          <%= link_to "編集する", edit_admins_user_path(@user.id), class: "actions btn btn-success" %>
        </div>
      </div>
      <div class="users-show-right">
        <h2 class="page-title back-purple">配送先一覧</h2>
        <table>
          <thead>
            <th class="th-number"></th>
            <th class="th-postcode"></th>
            <th class=""></th>
          </thead>
          <tbody>
            <% i = 1 %>
            <% @user.shipping_addresses.each do |sa| %>
              <tr class="shipping_address-item">
                <td><%= i %></td>
                <td><%= sa.postcode %></td>
                <td><%= sa.address %></td>
                <% i = i + 1 %>
              </div>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </main>
  <div class="rightside"></div>
</div>
