<div class="users-show flex">
  <div class="leftside"></div>
  <main class="main clearfix">
    <h2 class="page-title"><%= @user.family_name %> <%= @user.first_name %>さんの会員情報</h2>
    <div class="field">
      <span class="label">氏名</span>
      <label>（姓）</label>
      <%= @user.family_name %>
      <label>（名）</label>
      <%= @user.first_name %>
    </div>
    <div class="field">
      <span class="label">氏名（フリガナ）</span>
      <label>（姓）</label>
      <%= @user.kana_family_name %>
      <label>（名）</label>
      <%= @user.kana_first_name %>
    </div>
    <div class="field">
      <span class="label">郵便番号</span>
      <%= @user.postcode %>
    </div>
    <div class="field">
      <span class="label">電話番号</span>
      <%= @user.telephone %>
    </div>
    <div class="field">
      <span  class="label">メールアドレス</span>
      <%= @user.email %>
    </div>
    <div class="submit">
      <%= link_to "編集する", edit_admins_user_path(@user.id), class: "actions btn btn-success" %>
    </div>
  </main>
  <div class="rightside"></div>
</div>
