<div class="sales_histories-index flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">購入履歴</h2>
		<div class="inner">
			<div class="history-section-thead flex">
				<div class="created_at-box">購入日時</div>
				<div class="album_title-box">商品名</div>
				<div class="album_price-box">単価(税込)</div>
				<div class="quantity-box">購入数</div>
				<div class="subtotal-box">小計(税込)</div>
				<div class="total-box">総計(税込)</div>
				<div class="status-box">ステータス</div>
			</div>
			<% @histories.each do |history| %>
				<section class="history-section flex">
					<div class="created_at-box">
						<%= history.created_at.strftime("%Y-%m-%d %H:%M") %>
					</div>
					<div class="history_items flex">
						<% history.history_items.each do |item| %>
							<div class="history_item-section flex">
								<div class="album_title-box"><%= link_to item.album_title, album_path(item.album_id) %></div>
								<div class="album_price-box"><%= item.album_price %>円</div>
								<div class="quantity-box"><%= item.quantity %>個</div>
								<div class="subtotal-box"><%= (item.album_price * item.quantity).to_i %>円</div>
							</div>
						<% end %>
					</div>
					<div class="total-box"><%= history.total %>円</div>
					<div class="status-box"><%= history.status %></div>
					<%= link_to "削除する", user_hidden_history_path(user_id: @user.id, id: history.id), method: :patch, class: "btn btn-danger", "data-confirm" => "削除します。よろしいですか?" %>
				</section>
			<% end %>
			<%= paginate @histories %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
