<div class="sales_histories-new flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">購入確認</h2>
		<%= render "template/error_messages", resource: @sales_history %>
		<table class="cart_items-table">
			<thead>
				<tr>
					<th>商品情報</th>
					<th>単価</th>
					<th>購入数</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
					<% cart_album = Album.find(cart_item.album_id) %>
					<tr>
						<td>
							<%= link_to album_path(cart_album.id), class: "cart_album-img-haslink flex" do %>
							<%= attachment_image_tag cart_album, :album_image, format:"jpeg", class: "album-small-img", fallback: "no-image.jpg" %>
							<p class="cart_album-title"><%= cart_album.title %></p>
							<% end %>
						</td>
						<td class="text-center"><%= cart_album.price %>円</td>
						<td class="text-center"><%= cart_item.number %></td>
						<td class="text-center">
							<p class="subtotal"><%= cart_item.subtotal %>円</p>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<table class="prices-table text-right">
			<thead>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr class="total">
					<td>合計:</td>
					<td><%= @total - 500 %>円(税込)</td>
				</tr>
				<tr class="shipping-tax">
					<td>配送料:</td>
					<td>500円(一律)</td>
				</tr>
				<tr class="finally">
					<td>総計:</td>
					<td><%= @total %>円(税込)</td>
				</tr>
			</tbody>
		</table>
		<%= form_for @sales_history, url: user_sales_histories_path(user_id: @user.id), method: :post do |f| %>
			<div class="flex is-between">
				<div>
					<% @user.shipping_addresses.each do |ship_a| %>
						<div class="flex">
							<p class="shipping_address_radio"><%= f.radio_button :shipping_address_id, ship_a.id %></p>
							<%= ship_a.postcode %>
							<%= ship_a.address %>
						</div>
					<% end %>
				</div>
				<%= link_to "マイページへ", user_path(@user), class: "btn btn-primary to-mypage-btn" %>
			</div>
			<%= f.hidden_field :user_id, :value => @user.id %>
			<%= f.hidden_field :total, :value => @total %>
			<div class="submit">
				<%= f.submit "配送先を選んで下さい。", "data-confirm" => "OKを押すと購入が確定します。", disabled: true, class: "actions btn btn-cannot", id: "submit" %>
			</div>
		<% end %>
	</main>
	<div class="rightside"></div>
</div>

<script defer>
	$('.shipping_address_radio').on('click',function(){
		submit.disabled = false;
		$('#submit').removeClass("btn-cannot");
		$('#submit').addClass("btn-success");
		submit.value = "購入する";
	});
</script>