<<<<<<< HEAD
<div class="nested-fields">
    <%= f.number_field :disc_number %>
    <%= link_to_remove_association "-", f ,class: "disc_btn", style: "background-color: green;" %>
    <div class="field">
		<span class="label" style="width: 100px;">アーティスト</span>
		<div class="disc-field">
			<%= f.collection_select :artist_id, Artist.all, :id, :name %>
		</div>
	</div>
 </div>
=======
<div class="nested-fields disc-field">
	<div class="discs-labels flex">
		<div class="flex">
			<%= f.label :disc_number, "番号" %>
			<%= f.label :artist_id, "アーティスト" %>
		</div>
		<%= link_to_remove_association "-", f ,class: "nest_remove-btn" %>
	</div>
	<div class="field">
		<%= f.number_field :disc_number, class: "disc_number-field" %>
		<div class="field-selectbox">
			<%= f.collection_select :artist_id, Artist.all, :id, :name %>
		</div>
	</div>
	<div class="songs-labels flex">
		<label>曲順</label>
		<label>曲名</label>
	</div>
	<div class="songs">
		<%= f.fields_for :songs do |f| %>
			<%= render 'song_fields', f: f %>
		<% end %>
		<div class="links">
			<%= link_to_add_association "+", f, :songs, class: "nest_add-btn" %>
		</div>
	</div>
</div>
>>>>>>> 54b0d580437cdc3432416496365555c5e145797f
