<div class="albums-index flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title"><%= @title %></h2>
		<div class="album-index inner flex">
			<% @albums.each do |album| %>
				<div class="album-item text-center">
				<%= link_to album_path(album) do %>
					<%= attachment_image_tag album, :album_image, format:"jpeg", class: "album-item-img", fallback: "no-image.jpg" %>
					<p class="album-item-txt"><%= album.title %></p>
					<p class="album-item-txt"><%= album.discs[0].artist.name %></p>
				<% end %>
				</div>
			<% end %>
		</div>
		<% if params[:id] == nil %>
			<%= paginate @albums %>
		<% end %>
	</main>
	<div class="rightside"></div>

	<% if user_signed_in? %>
		<%= render "orders/link_to-user-carts" %>
	<% end %>
</div>
