<div class="albums-new flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">商品追加</h2>
		<div class="albums-new-form">
			<%= form_for @album do |f| %>
			<div class="field">
				<span class="label">タイトル</span>
				<div class="field-textbox">
					<%= f.text_field :title %>
				</div>
			</div>
			<div class="field">
				<span class="label">画像</span>
				<div class="image-field">
					<%= f.attachment_field :album_image %>
				</div>
			</div>
			<div class="field">
				<span class="label">ステータス</span>
				<div class="field-selectbox">
					<%= f.select :status, [["販売中", 0], ["販売停止", 1]] %>
				</div>
			</div>
			<div class="field">
				<span class="label">価格（税込み）</span>
				<div class="field-textbox">
					<%= f.number_field :price %>
					<span>円</span>
				</div>
			</div>
			<div class="field">
				<span class="label">ジャンル</span>
				<div class="field-selectbox">
					<%= f.select :genre_id, [["J-POP", 1], ["K-POP", 2], ["レゲエ", 3], ["EDM", 4]] %>
				</div>
			</div>
			<div class="field">
				<span class="label">レーベル</span>
				<div class="disc-field">
					<%= f.collection_select :label_id, Label.all, :id, :name %>
				</div>
			</div>
			<div class="field">
				<span class="label">シングル/アルバム内</span>
				<div class="field">
					<!-- disc -->
				</div>
			</div>
			<div class="field">
				<span class="label">在庫</span>
				<div class="field-textbox">
					<%= f.number_field :stock %>
				</div>
			</div>

			<%= f.submit "入力待ち", class: "btn btn-success", id: "submit", disabled: true %>

			<% end %>
		</div>
	</main>
	<div class="rightside"></div>
</div>

<script defer>
  //nameが空のとき、submitを押せないようにする
  //nameに何か入力されていたら、押せるようにする。
  //submitはすでにdisabledなので、入力したらdisabledを解除すればいい
  const title = document.querySelector('#title');
  const price = document.querySelector('#price');
  const stock = document.querySelector('#stock');
  const submit = document.querySelector('#submit');
  title.addEventListener('keyup',function(){
  	if (title.value.length >= 1){
  		submit.disabled = false;
  		$('#submit').addClass("submit_color");
  		submit.value = "追加する";
  	}else{
  		submit.disabled = true;
  		$('#submit').removeClass("submit_color");
  		submit.value = "追加不能";
  	};
  });
  console.log(title);
</script>