<div class="albums-show flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">商品詳細</h2>
		<div class="inner">
			<div class="album-content-first flex is-between">
				<p class="album-title"><%= @album.title %></p>
				<% if user_signed_in? %>
					<div class="fav-btn">
						<%= render "favorites/favorite-btn", album: @album %>
					</div>
				<% elsif %>
					<div class="edit-btn">
						<%= link_to "編集する", edit_album_path(@album.id) %>
					</div>
				<% end %>
			</div>
			<div class="album-content-second flex is-between">
				<%= attachment_image_tag @album, :album_image, format:"jpeg", class: "album-content-img", fallback: "no-image.jpg" %>
				<div class="album-info">
					<p class="album-content-status"><%= @album.status %></p>
					<p><%= @album.price %> 円(税込み)</p>
					<p>在庫: <%= @album.stock %> 枚</p>
					<p>ジャンル: <%= @album_genre.name %></p>
					<p>レーベル名: <%= @album_label.name %></p>
					<p>ディスク数: <%= @album.discs.count %></p>
				</div>
        <% if user_signed_in? %>
				<div class="second-left text-center">
					<%= render "orders/cart-btn", album: @album %>
				</div>
        <% end %>
			</div>
			<div style="margin:30px 0;">
				<h3>いいねしたユーザー：<%= @album.favorites.count %></h3>
			</div>
			<div class="review-section">
				<%= render "reviews/review-section", reviews: @album.reviews, album: @album, review: Review.new %>
			</div>
		</div>
	</main>
	<div class="rightside"></div>
	<%= render "orders/link_to-user-carts" %>
</div>
