<div class="albums-show flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">商品詳細</h2>
		<div class="inner">
			<div class="album-content-first flex is-between">
				<p class="album-title"><%= @album.title %></p>
				<div class="fav-btn">
					<%= render "favorites/favorite-btn", album: @album %>
				</div>
			</div>
			<div class="album-content-second flex is-between">
				<%= attachment_image_tag @album, :album_image, format:"jpeg", class: "album-content-img", fallback: "no-image.jpg" %>
				<div class="album-info">
					<% if @album.status == "販売停止中" %>
						<p class="album-content-status red-txt bold"><%= @album.status %></p>
					<% else %>
						<p class="album-content-status bold"><%= @album.status %></p>
					<% end %>
					</p>
					<p><%= @album.price %> 円(税込み)</p>
					<p>在庫: <%= @album.stock %> 枚</p>
					<p>ジャンル: <%= link_to @album.genre.name, genre_albums_path(@album.genre.id) %></p>
					<p>レーベル名: <%= link_to @album.label.name, label_albums_path(@album.label.id) %></p>
					<p>ディスク数: <%= @album.discs.count %></p>
					<div class="album-discs-section flex">
						<% @album.discs.each do |disc| %>
							<div class="album-disc">
								<p class="bold">ディスク<%= disc.disc_number %></p>
								<p>[アーティスト]</p>
								<p><%= link_to disc.artist.name, artist_albums_path(disc.artist.id) %></p>
								<p>[収録曲]
								<% disc.songs.each do |song| %>
									<p><%= song.song_number %>. <%= song.title %></p>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
				<div class="second-left text-center">
					<% if user_signed_in? %>
						<%= render "orders/cart-btn", album: @album %>
					<% end %>
				</div>
			</div>
			<div style="margin:30px 0;">
				<h3>いいねしたユーザー：<%= @album.favorites.count %></h3>
			</div>
			<div class="review-section">
				<%= render "reviews/review-section", reviews: @album.reviews, album: @album, review: Review.new %>
			</div>
		</div>
	</main>
	<div class="rightside"></div>

	<% if user_signed_in? %>
		<%= render "orders/link_to-user-carts" %>
	<% end %>
</div>
