<div class="shipping_addresses-edit flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">配送先編集</h2>
		<div class="shipping_addresses-edit-form">
			<%= form_for [@user, @shipping_address] do |f| %>
				<div class="field">
					<%= f.label :postcode, "郵便番号", class: "large-label" %>
					<%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "" %>
				</div>

				<div class="field">
					<%= f.label :address, "住所", class: "large-label" %>
					<%= f.text_field :address, autofocus: true, autocomplete: "address" %>
				</div>

				<div class="flex is-between">
					<%= f.submit "更新", class: "actions btn btn-success" %>
					<%= link_to "戻る", user_shipping_addresses_path(user_id: @user.id), class: "actions btn btn-back" %>
				</div>
			<% end %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
