<div class="shipping_addresses-index flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">配送先一覧</h2>
		<div class="">
			<table class="">
				<thead>
					<th class="th-number"></th>
					<th class="th-postcode"></th>
					<th class="th-address"></th>
					<th class="th-editbtn"></th>
				</thead>
				<tbody>
					<% i = 1 %>
					<% @shipping_addresses.each do |sa| %>
						<tr class="shipping_address-item">
							<td><%= i %></td>
							<td><%= sa.postcode %></td>
							<td><%= sa.address %></td>
							<td><%= link_to "編集する", edit_user_shipping_address_path(user_id: current_user.id, id: sa.id), class: "btn btn-success" %></td>
							<% i = i + 1 %>
						</div>
					<% end %>
				</tr>
			</table>
		</div>
		<div class="flex is-between">
			<%= link_to "追加する", new_user_shipping_address_path(user_id: current_user.id), class: "actions btn btn-primary" %>
			<%= link_to "戻る", user_path(id: @user.id), class: "actions btn btn-back" %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
