<div class="shipping_addresses-new flex">
	<div class="leftside"></div>
	<main class="main">
		<h2 class="page-title">配送先追加</h2>
		<div class="shipping_addresses-new-form">
			<%= form_for [@user, @shipping_address] do |f| %>
				<div class="field">
					<%= f.label :postcode, "郵便番号", class: "large-label" %>
					<%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "" %>
				</div>

				<div class="field">
					<%= f.label :address, "住所", class: "large-label" %>
					<%= f.text_field :address, autofocus: true, autocomplete: "address" %>
				</div>

				<%= f.submit "作成", class: "actions btn btn-success" %>
			<% end %>
		</div>
	</main>
	<div class="rightside"></div>
</div>
